body{
    background-color:#181a1b;
    color: #cecccc !important;
}

.player_button {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.wrap {
  width: 15rem;
  /*background: #555; */
}

.left, .right {
  display: inline-block;
  /*display: inline; */
  /*zoom: 1; */
  width: 100%;
  margin-right: -100%;
  vertical-align: bottom;
}

.right {
  text-align: right;
}

.left a, .right a { 
  display: inline-block;
  position: relative;
}

.left a { 
  width: 200px;
  /*height: 100px;*/
  /*background: green;*/ 
}

.right a { 
  width: 100px;
  /*height: 200px;*/
  /*background: pink; */ 
} 

.image_view {
  width:100%;
  height:100%;
}